
    {{#each this}}
    <div class="comments-card-position">
        <div class="card post-card-size">
            {{!-- // Make sure to figure out font size down below since you removed the h5 tag for font // --}}
            <div class="card-body">
                <p class="card-text">{{comment_text}}</p>
            </div>
            <div class="card-body">
                <p class="card-text">posted by {{user.username}} on {{format_date created_at}} </p>
            </div>
        </div>
    </div>
    {{/each}}