<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech News</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand tech-title" href="#">The Tech Blog</a>
  <div id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav> 
</header>

<form>
    <div class="main-card card">
        <div class="new-post-text card-header">
            Create New Post
        </div>
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <input class="title-name" type="text" id="post-title" name="post-title" />
            <div class="content-space">
                <h5 class="card-title">Content</h5>
                <textarea class="content-len" id="post-title" name="post-title"></textarea> 
            </div>
            <div class="create-button-space">
                <button type="submit" class="btn btn-dark">Create</button>
            </div>
        </div>
    </div>
</form>

</body>

</html>