<form class="new-post-form">
    <div class="main-card card">
        <div class="new-post-text card-header bg-success">
            Create New Post
        </div>
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <input class="title-name" type="text" id="post-title" name="post-title" />
            <div class="content-space">
                <h5 class="card-title">Content</h5>
                <textarea class="content-len" id="post-title" name="post-content"></textarea> 
            </div>
            <div class="create-button-space">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</form>

<script src="/javascript/addPost.js"></script>