<h2 class="text-center dashboard-title">Your Dashboard</h2>

{{#if posts.length}}
<section>
    <ol class="remove-number">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
                {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<div class="text-center new-post-btn">
  <a href="/add-posts" class="btn btn-success btn-lg">+ New Post</a>
</div>
