{{!-- <form class="login-space">
  <div class="card bg-success login-card">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <h6 class="card-title">username</h6>
            <input class="user-in-len" type="text" id="" name="" />
      <h6 class="card-title password-space">password</h6>
            <input class="password-in-len" type="password" id="" name="" />
      <div class="create-button-space">
        <button class="btn btn-secondary" type="submit">
              Login
        </button>
      </div>
    </div>
  </div>
</form>

<form class="create-user-space">
  <div class="card bg-light login-card">
    <div class="card-body">
      <h5 class="card-title">Create User</h5>
      <h6 class="card-title">username</h6>
            <input class="user-in-len" type="text" id="" name="" />
      <h6 class="card-title password-space">email</h6>
            <input class="password-in-len" type="text" id="" name="" />
      <h6 class="card-title password-space">password</h6>
            <input class="password-in-len" type="password" id="" name="" />
      <div class="create-button-space">
        <button class="btn btn-success" type="submit">
              Create User
        </button>
      </div>
    </div>
  </div>
</form> --}}