{{> post-info post}}

{{#if loggedIn}}
<form class=" comment-form post-card-position">
    <div class="card post-card-size">
        <h5 class="card-header bg-success post-card-title">Comment:</h5>
        <div class="card-body">
            <textarea class="content-len" id="post-title" name="comment-body"></textarea> 
        </div>
        <div class="card-body">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}