@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.tech-title {
    font-size: 2em;
    font-family: Righteous;
}

.main-card {
    padding-top: 3.5em;
    width: 100%;
    height: 38em;
}

.new-post-text {
    font-size: 1.5em;
    font-weight: bold;
}

.title-name {
    width: 50%;
}

.content-len {
    width: 100%;
    height: 25vh;
    resize: none;
}

.content-space {
    padding-top: 1.5em;
}

.create-button-space {
    padding-top: 2em;
}

.new-post-btn {
    padding-top: 1em;
}

.login-card {
    width: 70%;
    height: 50%;
    outline: solid;
}

.login-space {
    padding-top: 7em;
    display: flex;
    justify-content: center;
}

.password-space {
    padding-top: 1em;
}

.password-in-len {
    width: 100%;
}

.user-in-len {
    width: 100%;
}

.sign-up-font {
    padding-top: 1em;
}

.create-user-space {
    padding-top: 3em;
    display: flex;
    justify-content: center;
}

.post-card-size {
     width: 50%;
     outline: solid;
}

.post-card-position {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.comments-card-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.post-card-title {
    outline: solid;
}

.post-card-thing {
    outline: solid;
}

.nav-items-align {
    display: inline-block;
}

.list-the-post {
    margin: 0;
    padding: 0;
}

.comments-postition {
    flex-direction: column;
}

.remove-number {
    list-style: none;
}

.dashboard-title {
    padding-top: 1em;
}